<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>

<title>jobPortal</title>
<link rel="stylesheet" href="css/glyphiconcolor.css">
<link rel="stylesheet" href="css/notification.css">

 <link rel="stylesheet" href="css/style3.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="JScontrollers/jobcontroller.js"></script>
<script type="text/javascript" src="JSservices/jobservice.js"></script>
<script type="text/javascript" src="JScontrollers/usercontroller.js"></script>
<script type="text/javascript" src="JSservices/userservice.js"></script>
<script type="text/javascript" src="JScontrollers/blogcontroller.js"></script>
<script type="text/javascript" src="JSservices/blogservice.js"></script>
<script type="text/javascript" src="JScontrollers/blogindetailcontroller.js"></script>
<script type="text/javascript" src="script/nav.js"></script>
<script type="text/javascript" src="JScontrollers/notificationcontroller.js"></script>
<script type="text/javascript" src="JSservices/notificationservice.js"></script>

</head>
<body ng-app="app">
     <!-----navBar--->
<section id="nav-bar" class="sticky">
  <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><img src="img/job.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/addjob" ng-show="user.role=='ADMIN'">ADD JOB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#/getalljobs" ng-show="user!=undefined">GET ALL JOBS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#/profile"ng-show="user!=undefined">{{user.firstName}}&nbsp;{{user.lastName}}</a>
      </li>
      
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-show="user!=undefined">
          BLOG
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#/addblog" ng-show="user!=undefined">ADD BLOG</a>
          <a class="dropdown-item" href="#/blogsapproved" ng-show="user!=undefined">BROWSE BLOGS</a>
          <a class="dropdown-item" href="#/blogswaiting" ng-show="user.role=='ADMIN'">BLOGS WAITING</a>
          </div>
      </li>
      <li class="dropdown" >
<a href="" class="dropdown-toggle" data-toggle="dropdown" ng-show="user.email!=undefined"> 
<span class="glyphicon glyphicon-globe" > 
  <span class="rw-number-notification" ng-if="notificationCount>0">{{notificationCount}}</span></span></a>
   <ul class="dropdown-menu" >
  <span class="dropdown-content">
   <li ng-repeat="notification in notifications">
     <a href="#/getnotification/{{notification.notificationId}}">Blog titled "<b>{{notification.blogTitle}} "</b>approval status is updated </a>
     <hr>
   </li>
   </span>
   </ul>
</li>
      <li class="nav-item">
        <a class="nav-link " href="" ng-click="userlogout()" ng-show="user!=undefined">SIGN-OUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#/registration" ng-show="user==undefined">SIGN-UP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/userLogin" ng-show="user==undefined">SIGN-IN</a>
      </li>
      
     
    </ul>
    
  </div>
</nav>
</section>

<div class="container">
<!-- content of partial views will get added here -->
<div ng-view></div>
</div>

</body>
</html>
