 <head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="css/blog.css">
 </head>
 <body>
<b ng-show="user.role!='ADMIN'">You are not authorized to view blogs waiting for approval</b>
<div ng-show="user.role=='ADMIN'">
<div class="pan-b" >
<div class="panel-heading">
<b>List Of Blogs waiting for Approval</b>
</div>
<ul style="list-style:none">
<li ng-repeat="blog in blogsWaiting"><!-- approved is false -->
<a><b>Blog Title : {{blog.blogTittle}}</b></a><br>
Posted On  : {{blog.postedOn | date:'dd-MMM-yyyy hh:mm:ss'}}<br>
Author's Email     :{{blog.author.email}}<br>
Posted By  : {{blog.author.firstname}} &nbsp; {{blog.author.lastname}}<br>

</li>
</ul>
</div>
</div>
</body>
