<b ng-show="user==undefined">Please login</b>
<div ng-show="user!=undefined">
	<div class="panel panel-info">
		<div class="panel-heading">
			<b>List Of Blogs Approved</b>
		</div>
		<div class="panel-body">
			<ul>
				<li ng-repeat="blog in blogsApproved">
					<!-- approved value as true --> 
					<a href="#/getblogapproved/{{blog.blogId}}"> Blog Title : {{blog.blogTitle}}</a><br>
					Posted On : {{blog.postedOn | date:'dd-MMM-yyyy hh:mm:ss'}}<br>
					Author :{{blog.author.email}}<br>
					<hr>
				</li>
			</ul>
		</div>
	</div>
</div>

