<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/home.css">
<body>
	<section class="page1">
	<h1>Choose a job you love, and you will never have to work a day in your life.</h1>
	</section>
	<section class="page2">
		
			<div class="firstimg">
					<img src="img/row1.jpg">
				<div class="content1">
					<p>The price of success is hard work, dedication to the job at hand, and the determination that whether we win or lose, we have applied the best of ourselves to the task at hand. </p>
				</div>
			</div>
			<div class=" secondimg">
					<img src="img/row2.jpg">
				<div class="content2">
			    	<p>The price of success is hard work, dedication to the job at hand, and the determination that whether we win or lose, we have applied the best of ourselves to the task at hand.</p>
				</div>
			</div>
     <section class="home-bg1">
			<div class="container">
				<div class="row">
					<div class="ofset">
						<div class="headerText ">
						</div>
					</div>
				</div>
			</div>
		</section>
		
	</section>
	

</body>
</html>
