<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
 <link rel="stylesheet" href="css/style3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <body>
  <section class="page1">
  home
  </section>
  <section class="home-bg">
   <div class="container">
       <div class="row">
           <div class="ofset">
               <div class="headerText ">
                  <h1>Hello</h1>
                  <p>djqwdlk dwkhwklEJQW DWDLJDSKWD DWIDLJDA</p>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="col">
               <div class="placeBox">
                  <div class="imgBx">
                  <img src="img/row1.jpg">
                  </div>
                  <div class="content">
                  <h3>Place</h3>
                  <span>country</span>
                  </div>
               </div>
           </div>
           <div class="col">
               <div class="placeBox">
                  <div class="imgBx">
                  <img src="img/row2.jpg">
                  </div>
                  <div class="content">
                  <h3>Place</h3>
                  <span>country</span>
                  </div>
               </div>
           </div>
           
       </div>
   </div>
  <section class="home-bg1">
   <div class="container">
       <div class="row">
           <div class="ofset">
               <div class="headerText ">
                  <h2>Hello</h2>
                  <p>djqwdlk dwkhwklEJQW DWDLJDSKWD DWIDLJDA</p>
               </div>
           </div>
       </div>
       </div>
   </section>
   </section>  
   
  </body>
</html>
